{% extends 'base.html' %}
{% block title %}New sport ToDo{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<h1>New sport ToDo</h1>
<form action="new_todo_sport" method="POST">
  Name<br><input type="text" id="name" name="name" required="required" size="50"><br>
  Unit<br><input type="text" id="unit" name="unit" required="required"><br>
  Goal<br><input type="number" step="0.001" id="goal" name="goal" value = "0.001" required="required"><br>
  Rate<br><input type="number" step="0.001" id="rate" name="rate" value = "0.001" required="required"><br>
  After<br>
  <select id="after", name="after">
    <option value="-1" selected>None</option>
    {% for id, name in todo %}
    <option value="{{id}}">{{name}}</option>
    {% endfor %}
  </select>
  <br>
  Instructor<br>
  <select id="iid", name="iid">
    <option value="{{uid}}" selected>Myself</option>
    {% for id, name in bond %}
    <option value="{{id}}">{{name}}</option>
    {% endfor %}
  </select>
  <br>
  <br><input type="submit" value = "Add New Progress">
</form>
{% endblock %}
