{% extends 'base.html' %}
{% block title %}Peek Todo {{info[0]}}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<h1>Todo of Sport {{info[0]}}</h1>

<h3>Credit per unit : {{info[1]}}</h3>

<h3>Instructor : <a href="/peek_user?id={{info[3]}}">{{info[2]}}</a></h3>

{% if info[4] != -1 %}
<h3>Has Dependency: <a href="/peek_todo_{{dep[1]}}?id={{info[4]}}">{{dep[0]}}</a></h3>
{% else %}
<h3>No Dependency</h3>
{% endif %}

{% if info[5] == 0 %}
<h3>Goal unaccomplished</h3>
<progress value="{{info[7]}}" max="{{info[6]}}"></progress> {{info[7]}} of {{info[6]}}.
{% else %}
<h3>Goal exceeded</h3>
<progress value="{{info[6]}}" max="{{info[7]}}"></progress> {{info[6]}} of {{info[7]}}.
{% endif %}

<h1>PoW</h1>
{% for id, proof, timestamp in powdump %}
  <li>
      <a href="/peek_proof?id={{id}}">{{proof}} {{timestamp}}</a>
  </li>
{% endfor %}
{% endblock %}
