{% extends 'base.html' %}
{% block title %}Peek User{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<h1>Meet {{u[0]}}</h1>
<h2>"{{u[1]}}"</h2>
<h1>{{u[0]}}'s Todos</h1>
{% for id, tname, name in todotump_progress %}
  <li>
      <a href="/peek_todo_{{tname}}?id={{id}}">{{tname}}:{{name}}</a>
  </li>
{% endfor %}
<h2>Finished</h2>
{% for id, tname, name in todotump_finished %}
  <li>
      <a href="/peek_todo_{{tname}}?id={{id}}">{{tname}}:{{name}}</a>
  </li>
{% endfor %}
{% endblock %}
