{% extends 'base.html' %}
{% block title %}Peek Todo {{info[0]}}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<h1>Todo of Keep {{info[0]}}</h1>

<h3>Credit of one whole span : {{info[1]}}</h3>

<h3>Instructor : <a href="/peek_user?id={{info[3]}}">{{info[2]}}</a></h3>

{% if info[4] != -1 %}
<h3>Has Dependency: <a href="/peek_todo_{{dep[1]}}?id={{info[4]}}">{{dep[0]}}</a></h3>
{% else %}
<h3>No Dependency</h3>
{% endif %}

{% if info[5] == 0 %}
<h3>In progress</h3>
{% if info[12] == 0 %}
<h3>Non Loop</h3>
{% else %}
<h3>Looped</h3>
{% endif %}
{% else %}
<h3>Finished</h3>
{% endif %}

<h3>Avaliable from {{'%02d'%(info[6] // 100)}}:{{'%02d'%(info[6] % 100)}} to {{'%02d'%(info[7] // 100)}}:{{'%02d'%(info[7] % 100)}}</h3>
<h3>Days</h3>
{{info[10]}} of {{info[8]}}
<h3>Daily repeat</h3>
{{info[11]}} of {{info[9]}}
<h1>PoW</h1>
{% for id, proof, timestamp in powdump %}
  <li>
      <a href="/peek_proof?id={{id}}">{{proof}} {{timestamp}}</a>
  </li>
{% endfor %}
{% endblock %}
