{% extends 'base.html' %}
{% block title %}Proof Keep{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<form action="proof_todo_keep" method="POST">
  ID<br><input type="number" value="{{id}}" name="id" required="required" readonly><br>
  Proof<br><input type="text" id="proof" name="proof" required="required" size="50"><br>
  Post to Public ?<br><select id="v", name="v">
    <option value="0" selected>Nyet/No/老子就不</option>
    <option value="1" >Da/Yes/吼啊</option>
  </select><br>
  <input type="submit" value = "Proof">
</form>
{% endblock %}
