{% extends 'base.html' %}
{% block title %}Proof Book{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<form action="proof_todo_book" method="POST" enctype="multipart/form-data">
  ID<br><input type="number" value="{{id}}" name="id" required="required" readonly><br>
  from Page<br><input type="number" value="{{val}}" name="raw_val" required="required" readonly><br>
  to Page<br><input type="number" value="{{val + 1}}" min="{{val + 1}}" max="{{end}}" name="val" required="required"><br>
  Proof<br><textarea id="proof" class="text" rows="5" cols="80" name="proof"></textarea><br>
  <label for="img">Image Proof</label>
  <input type="file" id="img" name="img" accept="image/*"><br>
  Totally Private?<br><select id="v", name="v">
    <option value="0">Da/Yes/吼啊</option>
    <option value="1" selected>Nyet/No/老子就不</option>
  </select><br>
  <input type="submit" value = "Proof">
</form>
{% endblock %}
