{% extends 'base.html' %}
{% block title %}Book{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<h1>Books</h1>
<a href="/new_todo?tid=1">New</a>
<h3>ToDo</h3>
{% for id, name, start, val, end in todo_books %}
  <li>
      {{name}}
      <progress value="{{val - start}}" max="{{end - start}}"></progress>{{val}}/{{end}}
      <a href="/proof_todo_book?id={{id}}&val={{val}}&end={{end}}">Proof</a>
  </li>
{% endfor %}
<h3>Instructed</h3>
{% for id, name, start, val, end in instructed_books %}
  <li>
      {{name}}<progress value="{{val - start}}" max="{{end - start}}"></progress>{{val}}/{{end}}
  </li>
{% endfor %}
<h3>Pending</h3>
{% for id, name, start, val, end in pending_books %}
  <li>
      {{name}} {{val}}/{{end}}
  </li>
{% endfor %}
<h3>Finished</h3>
{% for id, name, start, val, end in finished_books %}
  <li>
      {{name}} {{val}}/{{end}}
  </li>
{% endfor %}
{% endblock %}
